<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>rolli - feedback</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
  </head>
  <body>
        <div id="app">

              <div class="navbar navbar-default navbar-static-top">
                   <h1>
                     <a style='color: black; text-decoration: none; margin-left: 6px' href="/">Rolli</a>
                   </h1>
              </div>

              <div id='feedback' class="bin col-md-4 col-xs-6 col-md-offset-4 col-xs-offset-4">
                   <h1 class='text-center'>feedback</h1>
                   <input type="text" class="form-control" v-model='feedback_msg.user_name' placeholder="@username" />
                   <textarea class="form-control" rows="3" cols="80" v-model='feedback_msg.msg' placeholder="message"></textarea>
                   <button @click='send_feedback' type="button" class="btn btn-success pull-right">send feedback</button>
              </div>

        </div>

        <!-- Vuejs cdn -->
        <script src='https://unpkg.com/vue/dist/vue.js'></script>

        <!--soruce code to make a api request-->
        <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>

        <!-- my jajavascript source code -->
        <script type="text/javascript" src="js/feedback.js"></script>
  </body>
</html>
